@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: white; */
    
}

body{
    font-family: 'Montserrat', sans-serif;
    /* color : white; */
    line-height: 1.6;
}
ul{
    list-style-type: none;
}


a{
    text-decoration: none;
    /* color:white */
}

h1 , h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.navbar{

    background-color: #212121;
    color: White;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}
.navbar ul {
    display: flex;
    padding-top: 10px;
}

.navbar a{
    color: white;
    padding: 10px;
    margin: 0 5px
}

.navbar a:hover{
    border-bottom: 2px white solid
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;

}
.navbar .flex{
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown {
    float: left;
    overflow: hidden;
    padding-bottom: 10px ;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E0FBFC;
    width: 90%;
    left: 5%;
    right: 5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    margin-top: 10px;
    padding: 50px;
  }

.dropdown:hover .dropdown-content{
    display: block;
    border-bottom: none;
}

.column {
    float: left;
    width: 30%;
    padding: 0px;
    /* background-color: #ccc; */
    height: 450px;
}

.column h3{
      color: black;
}
.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.row{
      display: flex;
}

.showcase-details h1{
    padding-left: 10%;
    font-size: 35px;
}

.resource img{
    width: 80%;
    height: auto;
    padding-top: 30px;
    padding-left: 150px;
}

.resource iframe{
    width: 1200px ;
    height: 600px;
    padding-top: 30px;
    padding-left: 150px;

}
.resource p{
    padding-left: 10%;
    padding-top: 10px;
    font-size: 18px;
}
.resource-title{
    font-weight: bold;
    font-size: 30px;
    padding-left: 10%;
    padding-top: 10px;
}

/* .resource p a{
    color: black;
}
.resource p a:visited{
    color: black;
} */

.resource p a{
    
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

@media (max-width: 768px) {
    
    
    .row{
        display: inline-block;
    }

    body{
        background: none;
        /* background-color: #212121; */
    }

    .grid,
    .showcase .grid{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  
    .showcase {
      height: auto;
    }
  

  
    .showcase-form {
      justify-self: center;
      margin: auto;
      animation: slideInFromBottom 1s ease-in;
    }
  
}
  

@media (max-width: 500px) {
    .navbar {
      height: 110px;
    }
  
    .navbar .flex {
      flex-direction: column;
    }
  
    .navbar ul {
      padding: 10px;
      /* background-color: rgba(0, 0, 0, 0.1); */
    }
    
    .showcase-form {
      width: 300px;
    }
}