@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: white; */
}

body {
  background-image: url(/images/Laptop-Dark.png);
  background-size: 100%;
  /* background-repeat: no-repeat; */
  font-family: "Montserrat", sans-serif;
  /* color : white; */
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color:white */
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  /* background-color: grey; */
  color: white;
  height: 70px;
  font-size: 14px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px white solid;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.navbar .flex {
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  color: black;
  box-shadow: 0 3px 10px;
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #48ffd5;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(0.95);
}

.showcase {
  height: 400px;
  /* background-color: grey; */
  color: white;
  position: relative;
  padding: 40px;
  z-index: 100;

  /* justify-self: flex-end; */
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
}
.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase h1 {
  font-size: 30px;
}

.showcase p {
  margin: 20px 0;
}

.showcase-form .form-control {
  margin: 30px;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"],
.showcase-form input[type="password"] {
  border: 0;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 3px;
  font-size: 12px;
}

.showcase-form input:focus {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-container {
  border: 1px solid red;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e0fbfc;
  width: 90%;
  left: 5%;
  right: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  margin-top: 10px;
  padding: 50px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-bottom: none;
}

.column {
  float: left;
  width: 30%;
  padding: 0px;
  /* background-color: #ccc; */
  height: 450px;
}

.column h3 {
  color: black;
}
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.row {
  display: flex;
}

.showcase-text blockquote {
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .row {
    display: inline-block;
  }

  body {
    background: none;
    background-color: #212121;
  }

  .grid,
  .showcase .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .showcase-form {
    width: 300px;
  }
}
